.itempayment{
    display: flex;
    flex-direction: column;
}
.total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 2.5rem;
}
.total p{
    font-size: 1.2rem;
}
.taxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 2.5rem;   
}
.taxes p{
    text-decoration: underline dotted;
    text-underline-position: under;
    font-size: 1.2rem;
}
.visited {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 2.5rem;   
}
.visited p{
    text-decoration: underline dotted;
    text-underline-position: under;
    font-size: 1.19rem;
}
.totalfees{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 2.5rem;
}
.totalfees p{
    text-decoration: none;
    text-underline-position: under;
    font-size: 1.19rem;    
}
.slot{
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 2px; */
    background-color: white;
    height: 60px;
}
.slot button{
    width: 350px;
    padding-right: 1rem;
    font-weight: 650;
}
.timeslot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: strench;
    /* height: 300px; */
    margin: 0.2rem;
    justify-content: center;
    align-content: space-evenly;
    /* margin-top: 1rem; */
}
.timeslot button{
    margin: 0.4rem;
}
.btntime{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    width: 95px;
}